.App {
  text-align: center;
}

body {
  background-image: url('background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: blue;

  font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
  color: white;
}

input {
  background-color: transparent;
  border: 2px solid white;
  /*font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;*/
  color: white;
  /*padding: 15px 32px;*/
  text-align: center;
  display: inline-block;
  font-size: 1em;
}
.submit-btn{
  background-color: transparent;
  border: 2px solid white;
  font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
}

button {
  background-color: transparent;
  border: 2px solid white;
  font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  }